[Desktop Entry]
Encoding=UTF-8
Name=MX Locale
Comment=Set language and locale variables
Exec=mx-locale
Terminal=false
Type=Application
Icon=preferences-desktop-locale
Categories=System;MX-Setup;X-antiX;
NoDisplay=false
